@charset "ISO-8859-1";

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background: linear-gradient(to bottom, #ffffff, #f2f2f2); /* Apply gradient background */

}

table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

a.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

a.button:hover {
    background-color: #45a049;
}

/* Unique style for paragraphs */
p {
    color: rgb(255, 0, 0); /* Unique color */
    font-style: italic; /* Italic font style */
    font-weight: bold;
}
